* text=auto eol=lf

*.cjs text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
package-lock.json text eol=lf merge=binary
